<body>
    <form>
      <fieldset>
        <legend>PLAN DE ACCIÓN</legend>
        <div class="form-group row">
          <div class="col-sm-10">
            <small id="emailHelp" class="form-text text-muted">A continuación podra realizar el registro de su plan de
              acción para el semestre proximo a iniciar.</small>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nombre del docente</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Ingrese Nombre">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Corte actividad</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Ingrese Corte">
        </div>
        <div class="form-group">
          <label for="exampleSelect1">Seleccione tipo de actividad</label>
          <select class="custom-select">
            <option selected="Seleccione"></option>
            <option value="tutorias">Tutorías</option>
            <option value="investigacion">Investigación</option>
            <option value="extension">Extensión</option>
            <option value="materialapoyo">Material de Apoyo</option>
            <option value="trabajogrado">Trabajo de Grago</option>
            <option value="interinstitucional">Cooperación Interinstitucional</option>
            <option value="crecimiento">Crecimiento Profesional</option>
            <option value="encargo">Encargo Administrativo</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Fecha posible finalización</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="dd/mm/yyyy">
          <small id="emailHelp" class="form-text text-muted">Recuerde tener en cuenta las fechas establecidas en el
            calendario academico.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputFile">Adjuntar archivo</label>
          <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="Adjuntar">
        </div>
        <div class="form-group">
          <legend>Estado: planeado</legend>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
      </fieldset>
    </form>
  </body>