<form>
    <fieldset>
      <legend>ACTIVIDADES COMPLEMENTARIAS</legend>
      <div class="form-group">
        <label for="staticEmail" class="col-sm-2 col-form-label">Nombre Actividad</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Nombre Actividad">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Nombre del docente</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Nombre">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Fecha finalización</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="dd/mm/yyyy">
          <small id="emailHelp" class="form-text text-muted">Recuerde tener en cuenta las fechas establecidas en el calendario academico.</small>
        </div>
      <div class="form-group">
        <label for="exampleSelect1">Seleccione tipo de actividad a reportar</label>
        <select class="custom-select">
            <option selected="Seleccione"></option>
            <option value="tutorias">Tutorías</option>
            <option value="investigacion">Investigación</option>
            <option value="extension">Extensión</option>
            <option value="materialapoyo">Material de Apoyo</option>
            <option value="trabajogrado">Trabajo de Grago</option>
            <option value="interinstitucional">Cooperación Interinstitucional</option>
            <option value="crecimiento">Crecimiento Profesional</option>
            <option value="encargo">Encargo Administrativo</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleTextarea">Describa la actividad</label>
        <textarea class="form-control" id="exampleTextarea" rows="4"></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputFile">Seleccione archivos de evidencia</label>
        <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
      </div>
      <fieldset class="form-group">
          <legend>Corte entrega</legend>
          <div class="form-check">
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
              Primero periodo
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
              Segundo periodo
            </label>
          </div>
          <div class="form-check">
          <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3">
              Entrega final
            </label>
          </div>
        </fieldset>
      <button type="submit" class="btn btn-primary">Enviar reporte</button>
    </fieldset>
  </form>