<div class="d-flex jusrify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">AGREGAR DOCENTE</h1>
</div>
<p>AGREGAR</p>
<div class="form-group">
  <label>Tipo Documento:
      <select ng-model="selComboTipoDocumento" SIZE=1>
          <option value="">------Seleccionar------</option>
          <option value="">CÉDULA DE CIUDADANIA</option>
          <option value="">CÉDULA DE EXTRANJERÍA</option>
          <option value="">TARJETA DE IDENTIDAD</option>
          <option value="">DNI</option>
          <option value="">REGISTRO CIVIL</option>
      </select>
  </label>
</div>
<!--IDENTIFICACION-->
<div class="form-group">
  <label>Identificacion:
      <input [(ngModel)]="docente.Identificacion" class="form-control" placeholder="DIGITE DOCUMENTO" type="number" />
  </label>
</div>

<!--Primer Nombre:-->
<div class="form-group">
  <label>Primer Nombre:
      <input [(ngModel)]="docente.Primer_Nombre" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>
<!--SEGUNDO Nombre:-->
<div class="form-group">
  <label>Segundo Nombre:
      <input [(ngModel)]="docente.Segundo_Nombre" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>
<!--Primer APELLIDO:-->
<div class="form-group">
  <label>Primer Apellido:
      <input [(ngModel)]="docente.Primer_Apellido" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>
<!--SEGUNDO APELLIDO:-->
<div class="form-group">
  <label>Segundo Apellido:
      <input [(ngModel)]="docente.Segundo_Apellido" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>
<!--Fecha Nacimiento

<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker>
-->

<div class="form-group">
  <label>Fecha Nacimiento:
      <input [(ngModel)]="docente.Fecha_Nacimiento" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Edad:
      <input [(ngModel)]="docente.Edad" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Genero:
      <input [(ngModel)]="docente.Genero" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Email:
      <input [(ngModel)]="docente.Email" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Telefono:
      <input [(ngModel)]="docente.Telefono" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Cargo:
      <input [(ngModel)]="docente.Cargo" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>

<div class="form-group">
  <label>Fecha Vinculacion:
      <input [(ngModel)]="docente.Fecha_Vinculacion" class="form-control" placeholder="DIGITE TIPO DE DOCUMENTO"
          type="text" />
  </label>
</div>
<div class="form-group">
  <button (click)="add()" class="btn btn-primary">Agregar</button>
</div>